This notebook uses ipython-sql (pip install ipython-sql) to type SQL queries directly. Use %sql before a single-line query and %%sql before a multi-line query.

In [1]:
%load_ext sql

In [2]:
%sql postgresql://postgres@localhost/birth_db

u'Connected: postgres@birth_db'

In [18]:
# use SET search_path TO schema_name if schema is used
%sql reset search_path

Done.

[]

In [3]:
%%sql
SELECT * FROM birth_data_table
LIMIT 10
OFFSET 50

10 rows affected.

[(50L, None, None, u'MD', None, u'Jan', None, 5000.0, 2012L, None, None, None, None, None, u'Fri', u'Vaginal', None, None, None, None, 42.0, u'F', 20L, None, None, None, u'Yes', u'White', None, None, None, u'Resident', u'S', None, u'births12.txt', 1325456800L, None, 30.0),
 (51L, None, None, u'MD', None, u'Jan', None, 3000.0, 2012L, None, None, None, None, None, u'Fri', u'Vaginal', None, None, None, None, 42.0, u'F', 20L, None, None, None, u'Yes', u'White', None, None, None, u'Resident', u'S', None, u'births12.txt', 1326371490L, None, 32.0),
 (52L, None, None, u'MD', None, u'Jan', None, 3000.0, 2012L, None, None, None, None, None, u'Sun', u'Vaginal', None, None, None, None, 38.0, u'F', 21L, None, None, None, u'No', u'White', None, None, None, u'Resident', u'S', None, u'births12.txt', 1327245443L, None, 24.0),
 (53L, None, None, u'MD', None, u'Feb', None, 4000.0, 2012L, None, None, None, None, None, u'Wed', u'Cesarean', None, None, None, None, 39.0, u'M', 35L, None, None, None, u'Yes', u'White', None, None, None, u'Intra-State/Territor Non-resident (diff county)', u'S', None, u'births12.txt', 1328148996L, None, 30.0),
 (54L, None, None, u'MD', None, u'Feb', None, 3000.0, 2012L, None, None, None, None, None, u'Wed', u'Vaginal', None, None, None, None, 38.0, u'F', 29L, None, None, None, u'Yes', u'White', None, None, None, u'Resident', u'S', None, u'births12.txt', 1328933795L, None, 34.0),
 (55L, None, None, u'MD', None, u'Feb', None, 2000.0, 2012L, None, None, None, None, None, u'Sat', u'Vaginal', None, None, None, None, 31.0, u'M', 27L, None, None, None, u'No', u'Black', None, None, None, u'Intra-State/Territor Non-resident (diff county)', u'S', None, u'births12.txt', 1329753116L, None, 25.0),
 (56L, None, None, u'MD', None, u'Mar', None, 4000.0, 2012L, None, None, None, None, None, u'Tu', u'Vaginal', None, None, None, None, 40.0, u'F', 18L, None, None, None, u'No', u'White', None, None, None, u'Resident', u'S', None, u'births12.txt', 1330659032L, None, 50.0),
 (57L, None, None, u'MD', None, u'Mar', None, 4000.0, 2012L, None, None, None, None, None, u'Sun', u'Vaginal', None, None, None, None, 38.0, u'F', 29L, None, None, None, u'Yes', u'Black', None, None, None, u'Resident', u'S', None, u'births12.txt', 1331541002L, None, 50.0),
 (58L, None, None, u'MD', None, u'Mar', None, 4000.0, 2012L, None, None, None, None, None, u'Mon', u'Vaginal', None, None, None, None, 39.0, u'F', 29L, None, None, None, u'No', u'White', None, None, None, u'Resident', u'S', None, u'births12.txt', 1332469424L, None, 31.0),
 (59L, None, None, u'MD', None, u'Apr', None, 4000.0, 2012L, None, None, None, None, None, u'Sat', u'Vaginal', None, None, None, None, 39.0, u'M', 30L, None, None, None, u'No', u'White', None, None, None, u'Resident', u'S', None, u'births12.txt', 1333389308L, None, 3.0)]

What is the most common day for a delivery?

Let's first create a view containing the days of the week and the count for each day

In [19]:
%%sql 
CREATE VIEW day_counts AS
SELECT day, COUNT(*) AS count
FROM birth_data_table
GROUP BY day

(psycopg2.ProgrammingError) relation "day_counts" already exists
 [SQL: 'CREATE VIEW day_counts AS\nSELECT day, COUNT(*) AS count\nFROM birth_data_table\nGROUP BY day']

In [44]:
%sql SELECT * FROM day_counts

7 rows affected.

[(u'Tu', 449L),
 (u'Sat', 307L),
 (u'Mon', 403L),
 (u'Wed', 415L),
 (u'Sun', 281L),
 (u'Th', 432L),
 (u'Fri', 429L)]

We can view this table ordered by count.

In [18]:
%%sql 
SELECT * 
FROM day_counts 
ORDER BY count DESC  -- return in descending order

7 rows affected.

[(u'Tu', 449L),
 (u'Th', 432L),
 (u'Fri', 429L),
 (u'Wed', 415L),
 (u'Mon', 403L),
 (u'Sat', 307L),
 (u'Sun', 281L)]

For a solution with one query and one sub-query, see below. Note that this solution creates a temporary table instead of a view.

In [17]:
%%sql
SELECT day
FROM (SELECT day, COUNT(*) AS count   -- the parenthesis enclose a subquery
      FROM birth_data_table
      GROUP BY day
     ) AS day_counts       -- name the temporary table
WHERE count = (SELECT MAX(count) FROM day_counts)

1 rows affected.

[(u'Tu',)]

Now let's get counts by attendant. First we'll see what unique values are in the table.

In [20]:
%sql SELECT DISTINCT attendant FROM birth_data_table

5 rows affected.

[(None,),
 (u'Certified Nurse or Midwife',),
 (u'MD',),
 (u'Osteopathy',),
 (u'Other Midwife',)]

In [21]:
%%sql
SELECT attendant, COUNT(*) as count
FROM birth_data_table
GROUP BY attendant

5 rows affected.

[(None, 16L),
 (u'Certified Nurse or Midwife', 248L),
 (u'MD', 2285L),
 (u'Osteopathy', 154L),
 (u'Other Midwife', 13L)]

Hmm, I wonder if there is any relation between attendant and day of the week for a delivery. Let's make a pivot table, where one column is attendant and the other columns are the days of the week, containing counts for each attendant for each day.

In [25]:
%%sql
SELECT attendant, day, COUNT(*) as count
FROM birth_data_table
GROUP BY attendant, day

34 rows affected.

[(u'Other Midwife', u'Tu', 2L),
 (None, u'Sun', 2L),
 (u'Other Midwife', u'Fri', 1L),
 (u'MD', u'Tu', 381L),
 (u'Osteopathy', u'Tu', 23L),
 (u'Certified Nurse or Midwife', u'Sat', 38L),
 (u'Other Midwife', u'Sat', 3L),
 (u'Certified Nurse or Midwife', u'Fri', 33L),
 (u'Certified Nurse or Midwife', u'Tu', 39L),
 (None, u'Mon', 2L),
 (u'MD', u'Sat', 255L),
 (None, u'Wed', 2L),
 (u'Osteopathy', u'Sat', 10L),
 (None, u'Th', 2L),
 (u'Certified Nurse or Midwife', u'Sun', 30L),
 (u'MD', u'Mon', 333L),
 (u'Osteopathy', u'Mon', 26L),
 (u'MD', u'Wed', 354L),
 (u'MD', u'Th', 367L),
 (u'Osteopathy', u'Wed', 23L),
 (u'Osteopathy', u'Th', 29L),
 (None, u'Sat', 1L),
 (u'Other Midwife', u'Wed', 1L),
 (u'Other Midwife', u'Mon', 3L),
 (u'Certified Nurse or Midwife', u'Mon', 39L),
 (None, u'Tu', 4L),
 (u'Certified Nurse or Midwife', u'Wed', 35L),
 (u'Certified Nurse or Midwife', u'Th', 34L),
 (u'MD', u'Sun', 233L),
 (u'Osteopathy', u'Sun', 13L),
 (None, u'Fri', 3L),
 (u'Other Midwife', u'Sun', 3L),
 (u'MD', u'Fri', 362L),
 (u'Osteopathy', u'Fri', 30L)]

That query gave us a long-form table, but we want a short-form table, where row-level information is converted into columns.

CROSSTAB (short for cross tabulation) is the PostgreSQL version of PIVOT, demonstrated below. First, load the extension - this needs to be done once per database. Note: you need to be logged in as a superuser to do this.

In [44]:
%sql CREATE EXTENSION tablefunc

Done.

[]

First, find the distinct values for the column of interest. We will hard-code these as the new columns.

In [45]:
%sql SELECT DISTINCT day FROM birth_data_table

7 rows affected.

[(u'Tu',), (u'Sat',), (u'Mon',), (u'Wed',), (u'Sun',), (u'Th',), (u'Fri',)]

In [54]:
%%sql
SELECT *
FROM crosstab(
    'SELECT attendant, day, COUNT(*) as ct FROM birth_data_table GROUP BY attendant, day ORDER BY 1,2'
      -- below, we list all the unique values in day
      -- these will become the columns
      -- hard-coding them ensures that the order matches what we specify later
,$$VALUES ('Sun'::text), ('Mon'::text), ('Tu'::text), ('Wed'::text), ('Th'::text), ('Fri'::text), ('Sat'::text)$$
)
AS ct (
  -- first column has each unique value for the rows
"Attendant" text,
  -- now we list the columns
"Sun" text, "Mon" text, "Tu" text, "Wed" text, "Th" text, "Fri" text, "Sat" text
);

5 rows affected.

[(u'Certified Nurse or Midwife', u'30', u'39', u'39', u'35', u'34', u'33', u'38'),
 (u'MD', u'233', u'333', u'381', u'354', u'367', u'362', u'255'),
 (u'Osteopathy', u'13', u'26', u'23', u'23', u'29', u'30', u'10'),
 (u'Other Midwife', u'3', u'3', u'2', u'1', None, u'1', u'3'),
 (None, u'2', u'2', u'4', u'2', u'2', u'3', u'1')]

For more details, see: https://stackoverflow.com/questions/3002499/postgresql-crosstab-query/11751905#11751905

Testing date calculations

In [18]:
%%sql
SELECT *, (EXTRACT(year FROM current_date) - birth_year) AS age
FROM birth_data_table
LIMIT 5

5 rows affected.

[(0L, None, None, u'MD', None, u'Jan', None, 4500.0, 2012L, None, None, None, None, None, u'Fri', u'Vaginal', None, None, None, None, 40.0, u'M', 32L, None, None, None, u'Yes', u'White', None, None, None, u'Resident', u'S', None, u'births12.txt', 1325405431L, None, 40.0, 5.0),
 (1L, None, None, u'MD', None, u'Jan', None, 4500.0, 2012L, None, None, None, None, None, u'Wed', u'Cesarean', None, None, None, None, 39.0, u'F', 28L, None, None, None, u'Yes', u'White', None, None, None, u'Intra-State/Territor Non-resident (diff county)', u'S', None, u'births12.txt', 1325882986L, None, 49.0, 5.0),
 (2L, None, None, u'MD', None, u'Jan', None, 2500.0, 2012L, None, None, None, None, None, u'Sat', u'Cesarean', None, None, None, None, 36.0, u'M', 28L, None, None, None, u'No', u'Black', None, None, None, u'Resident', u'S', None, u'births12.txt', 1326367089L, None, 30.0, 5.0),
 (3L, None, None, u'MD', None, u'Jan', None, 3000.0, 2012L, None, None, None, None, None, u'Sun', u'Vaginal', None, None, None, None, 40.0, u'M', 28L, None, None, None, u'No', u'Black', None, None, None, u'Resident', u'S', None, u'births12.txt', 1326838810L, None, 15.0, 5.0),
 (4L, None, None, u'MD', None, u'Jan', None, 4000.0, 2012L, None, None, None, None, None, u'Th', u'Vaginal', None, None, None, None, 39.0, u'F', 22L, None, None, None, u'No', u'American Indian', None, None, None, u'Intra-State/Territor Non-resident (diff county)', u'S', None, u'births12.txt', 1327339729L, None, 48.0, 5.0)]

In [14]:
%sql SELECT EXTRACT(year FROM CURRENT_DATE)

1 rows affected.

[(2017.0,)]

In [28]:
%%sql
WITH age_table AS 
(SELECT birth_month, birth_year, (EXTRACT(year FROM current_date) - birth_year) AS age 
FROM birth_data_table)
SELECT birth_month, AVG(age), MIN(age), MAX(age)
FROM age_table
GROUP BY birth_month

1 rows affected.

[(5.0, 5.0, 5.0)]